---
title: Brain Imaging Laboratory
description: Brain mapping at the Department of Psychology, Sapienza University
---
<section class="hero">
	<div class="text-container">
		<h1 class="editable">Welcome to the BIL</h1>
		<p class="subtext editable">The Brain Imaging Lab at the Department of Psychology, Sapienza University</p>
		<ul class="buttonset">
			<li>
				<div class="button"><a href="{{ site.baseurl }}/intro/">Watch presentation</a></div>
			</li>
			<li>
				<div class="button"><a href="{{ site.baseurl }}/projects/">Look at our projects</a></div>
			</li>
			<li>
				<div class="button"><a href="#homenews">Read latest news</a></div>
			</li>
		</ul>
	</div>
</section>

{% assign firstpost = site.posts[0] %}
{% assign secondpost = site.posts[1] %}
{% assign thirdpost = site.posts[2] %}
{% assign fourthpost = site.posts[3] %}
{% assign fifthpost = site.posts[4] %}
{% assign sixthpost = site.posts[5] %}
{% assign seventhpost = site.posts[6] %}
{% assign eightpost = site.posts[7] %}
{% assign ninethpost = site.posts[8] %}
<div class="content" id="homenews">
	{% include news-on-home.html post=firstpost %}
	{% include news-on-home.html post=secondpost %}
	{% include news-on-home.html post=thirdpost %}
	{% include news-on-home.html post=fourthpost %}
	{% include news-on-home.html post=fifthpost %}
	{% include news-on-home.html post=sixthpost %}
	{% include news-on-home.html post=seventhpost %}
	{% include news-on-home.html post=eightpost %}
	{% include news-on-home.html post=ninethpost %}

	<section>
		<div class="container flex">
			{% if paginator.total_pages > 1 %}
				<div class="pagination">
					{% if paginator.previous_page %}
						<a href="{% include relative-src.html src=paginator.previous_page_path %}" class="previous btn">&larr; Newer posts</a>
					{% endif %}

					<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

					{% if paginator.next_page %}
						<a href="{% include relative-src.html src=paginator.next_page_path %}" class="next btn">Older posts &rarr;</a>
					{% endif %}
				</div>
			{% endif %}
		</div>
	</section>

	<section class="bottom-cta">
		<h2 class="editable"><strong>Learn more</h2>
		<ul class="buttonset">
			<li>
				<div class="button alt"><a href="{{ site.baseurl }}/intro/">Watch presentation</a></div>
			</li>
			<li>
				<div class="button alt"><a href="{{ site.baseurl }}/projects/">Look at our projects</a></div>
			</li>
			<li>
				<div class="button alt"><a href="{{ site.baseurl }}/contact/">Contact us</a></div>
			</li>
		</ul>
	</section>
</div>